* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* color: #192529; */
  color: #bab7b7;
}

.heading-link {
  text-decoration: none;
}

.main-container,
.select-element {
  border-radius: 3px;
}

.main-container {
  /* background-color: hsl(0, 0%, 83%, 0.3); */
  background-color: #30525e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 50px auto;
  max-width: 500px;
}

.header-container,
footer {
  text-align: center;
}

h1 {
  padding: 15px 0 15px;
}

.select-element {
  border: 2px solid;
  padding: 5px 150px 5px 0;
  width: 90%;
}

.city-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 28px 0 28px;
  padding-bottom: 20px;
}

date {
  font-size: 16px;
  opacity: 0.7;
}

time {
  font-size: 22px;
}

.time-container {
  align-self: center;
}

.time-reference-container {
  display: inline-block;
}
.time-reference {
  font-size: 12px;
}

.select-element,
footer {
  font-size: 14px;
}
